.userContainer {
    width: 100%;
    height: 58.6rem;
    background-color: burlywood;

    display: grid;
    justify-items: center;
    align-items: center;

    position: relative;
    grid-template-rows: 10vh 80vh 15vh;
}

.content {
    width: 800px;
    height: 400px;

    background-color: antiquewhite;


}